.wrapper
  .header#header_section
    %a#header
    %h1 ANTONELLA MORITTU
    %p Odyssey of a Junior Web Developer

  .about_me#about_me_section
    %div
      %a#about_me
      %h1 About me
      %p I'm Antonella, an Italian Web Developer based in Gothenburg, Sweden.
      %p I am an inquisitive and curious individual. I was probably a cat in another life.
      %p IF ART IS CREATIVITY, CODING IS PURE CREATION â˜

    %div.about_images
      %img.profile_pic{:alt => "responsive image", :src => "images/about_me.jpeg"}
      %img.moon{:alt => "responsive image", :src => "images/Planet.png"}

  .projects#projects_section
    %a#projects
    %h1 Projects
    - data.projects.each do |project|
      %div
        %h2= project[:date]
        %a{href: project[:url], :target => "_blank"}= project[:name]
        %p= project[:description]
        %p= project[:description2]

  .skills#skills_section
    %div
      %a#skills
        %i.icon-ruby
        %i.icon-ruby-on-rails
        %i.icon-javascript
        %i.icon-html5-alt
        %i.icon-sass
        %i.icon-css
        %i.icon-angular
        %i.icon-jquery


  .cv#cv_section
    .education
      %img{:src => "images/new_alien.png"}
      %h1 My Curriculum Vitae
      %h2 EDUCATION
      - data.education.each do |education|
        %div
          %a{href: education[:url], :target => "_blank"}= education[:school]
          %p= education[:dates]
          %h3= education[:course]
          %p= education[:description]

  .cv#cv_section
    .work
      %h2 PROFESSIONAL EXPERIENCE
      - data.work.each do |work|
        %div
          %a.padding= work[:company]
          %h4= work[:location]
          %h3= work[:role]
          %p= work[:dates]
          %p= work[:description1]
          %p= work[:description2]
   